<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.friday.inter.SendpageItemMapper">
    <resultMap id="BaseResultMap" type="com.friday.model.sendpage.SendpageItem">
        <id column="i_id" property="iId" jdbcType="INTEGER"/>
        <result column="i_name" property="iName" jdbcType="VARCHAR"/>
        <result column="i_price" property="iPrice" jdbcType="FLOAT"/>
        <result column="c_id" property="cId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
i_id,
i_name,
i_price,
c_id
</sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sendpageitem
        where i_id = #{iId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sendpageitem
    </select>
    <select id="selectByCategoryId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sendpageitem
        where c_id = #{cId, jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sendpageitem
    where i_id = #{iId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.friday.model.sendpage.SendpageItem">
    insert into sendpageitem (
i_id,
i_name,
i_price,
c_id
)
    values (#{iId,jdbcType=INTEGER}, #{iName,jdbcType=VARCHAR}, #{iPrice,jdbcType=FLOAT},
      #{cId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.friday.model.sendpage.SendpageItem">
        insert into sendpageitem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="iId != null">
                i_id,
            </if>
            <if test="iName != null">
                i_name,
            </if>
            <if test="iPrice != null">
                i_price,
            </if>
            <if test="cId != null">
                c_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="iId != null">
                #{iId,jdbcType=INTEGER},
            </if>
            <if test="iName != null">
                #{iName,jdbcType=VARCHAR},
            </if>
            <if test="iPrice != null">
                #{iPrice,jdbcType=FLOAT},
            </if>
            <if test="cId != null">
                #{cId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.friday.model.sendpage.SendpageItem">
        update sendpageitem
        <set>
            <if test="iId != null">
                i_id=#{iId,jdbcType=INTEGER},
            </if>
            <if test="iName != null">
                i_name=#{iName,jdbcType=VARCHAR},
            </if>
            <if test="iPrice != null">
                i_price=#{iPrice,jdbcType=FLOAT},
            </if>
            <if test="cId != null">
                c_id=#{cId,jdbcType=INTEGER},
            </if>
        </set>
        where i_id = #{iId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.friday.model.sendpage.SendpageItem">
    update sendpageitem
    set i_id=#{iId,jdbcType=INTEGER},
      i_name=#{iName,jdbcType=VARCHAR},
      i_price=#{iPrice,jdbcType=FLOAT},
      c_id=#{cId,jdbcType=INTEGER}
    where i_id=#{iId,jdbcType=INTEGER}
  </update>
</mapper>